@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900');

* {
	border-collapse: collapse;
	box-sizing: border-box;
	font-family: "Lato";
	position: relative;
	padding: 0;
	margin: 0;
}

:root {
	--asideWidth: 18.75svw;
}

body {
	display: flex;
	width: 100svw;
	height: 100svh;
	overflow: hidden;
	flex-flow: row wrap;
	background: white;
	color: white;
}

aside {
	width: var(--asideWidth);
	height: 100%;
	background: orangered;
	border-left: solid black 1px;
}

main {
	width: calc(100% - var(--asideWidth));
	height: 100%;
	overflow: auto;
}

main > div {
	display: flex;
	flex-flow: row nowrap;
	padding: 5px 5px;
	font-size: 150%;
}

main > :not(:first-child) {
	opacity: 50%;
}

main > div > p,
main > div > strong {
	flex: 1;
	text-align: center;
}

main > :nth-child(odd) {
	background: white;
	color: black;
}

main > :nth-child(even) {
	background: black;
	color: white;
}

main > :nth-last-child(1) {
	border-bottom: solid 1px black;
}

footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	height: var(--footerHeight);
	background: black;
	display: flex;
	flex-flow: row nowrap;
}

footer > * {
	height: 100%;
	font-size: 200%;
}

.Name {
	padding: 0 2svw;
	width: calc(100% - var(--asideWidth));
	border-top: solid black 1px;
}

.Guy {
	flex: 1;
	background: white;
	color: black;
	text-align: center;
	border-top: solid black 1px;
	border-left: solid black 1px;
}

.Highlight {
	animation: Highlight 1s cubic-bezier(1, 0, 1, 1);
}

@keyframes Highlight {
	from { color: orangered }
}