@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900');

* {
	border-collapse: collapse;
	box-sizing: border-box;
	font-family: "Lato";
	position: relative;
	padding: 0;
	margin: 0;
}

:root {
	--asideWidth: 18.75svw;
}

body {
	background: white;
	flex-flow: row wrap;
	overflow: hidden;
	color: white;
	height: 100svh;
	display: flex;
	width: 100svw;
}

aside {
	border-left: solid black 1px;
	width: var(--asideWidth);
	background: orangered;
	height: 100%;
}

main {
	width: calc(100% - var(--asideWidth));
	overflow: auto;
	height: 100%;
}

main > div {
	flex-flow: row nowrap;
	padding: 5px 5px;
	font-size: 150%;
	display: flex;
}

main > :not(:first-child) {
	opacity: 50%;
}

main > div > p,
main > div > strong {
	text-align: center;
	flex: 1;
}

main > :nth-child(odd) {
	background: white;
	color: black;
}

main > :nth-child(even) {
	background: black;
	color: white;
}

main > :nth-last-child(1) {
	border-bottom: solid 1px black;
}

footer {
	position: absolute;
	width: 100%;
	bottom: 0;
}

footer > * {
	font-size: 200%;
	height: 50%;
	width: 100%;
}

footer .Buttons {
	padding-right: calc(var(--asideWidth) + 1svw);
	justify-content: flex-end;
	margin-bottom: 1svw;
	display: flex;
	gap: 1svw;
}

footer .Buttons button {
	outline: transparent;
	background: black;
	padding: .5svh 1svw;
	color: white;
	border: none;
	cursor: grab;
}

footer .Credits {
	flex-flow: row nowrap;
	background: black;
	font-size: 100%;
	display: flex;
}

.Name {
	width: calc(100% - var(--asideWidth));
	border-top: solid black 1px;
	padding: 0 2svw;
}

.Guy {
	border-left: solid black 1px;
	border-top: solid black 1px;
	background: white;
	text-align: center;
	color: black;
	flex: 1;
}

.Highlight {
	animation: Highlight 1s cubic-bezier(1, 0, 1, 1);
}

@keyframes Highlight {
	from { color: orangered }
}